/* To get full-width pages in the iframe */
.container {
    max-width: 100%;
}

@media (min-width: 992px)
.container {
    max-width: 100%;
}

@media (min-width: 768px)
.container {
    max-width: 100%;
}

@media (min-width: 576px)
.container {
    max-width: 100%;
}

/* General style sheet */
body {
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 16px;
margin: 0 auto; 
padding: 0; 
text-align: left;}

h1 {
padding: 15px;
font-style: normal;
font-weight: normal;
font-size: 2.25em;
color: #FFFFFF;
background-color: #e8005a;}

h2 {
font-size: 1.6em;
font-weight: normal;
color: #ffffff;
background-color: #e8005a;
margin: 1.5em 0em 0.5em 0em;
padding: 10px;
}

h3 {
font-size: 1.25em;
color: #ffffff;
background-color: #000000;
margin: 1.5em 0em 0.7em 0em;
padding: 10px;}

h4 {
font-size: 1.1em;
font-weight: bold;
color: #000000;
margin: 1.5em 0em 0.85em 0em;}

h5 {
font-size: 1.1em;
color: #333333;
font-weight: bold;
margin: 1.5em 0em 0.85em 0em;}

h6 {
font-size: 1em;
font-weight: normal;
font-style: italic;
color: #333333;
margin: 0em 0em 0.85em 0em;}

/*Paragraph styles*/

p { 
text-indent: 0; 
line-height: 1.5em;
margin: 1em 0px 1em 0px;}

.grey-panel {
    width: 100%; 
    background-color: #dddddd; 
    padding: 15px;
    margin-top: -1em;
}

.btn-light {color: #212529;background-color: #ffffff;border-color: #ffffff;}

a {color: #006EB8;}

a:hover {color: #666;}

/* Highlight images in page */

.highlight { border: 5px solid #E8005A;}

/* Button groups for toolbar in Induction template */

div.btn-group {padding: 10px;}

div.btn-group * i.fa-circle {color: #fff; }

.footer-icon-bar {
    background-color: #000;
}

/*
div.btn-group * i.fa-arrow-left,
div.btn-group * i.fa-arrow-right,
div.btn-group * i.fa-check {
  color: #ed1266;
}
*/

.btn-group * a {margin-left: 5px;}

/* Additional features */

.calendar {
    margin: 0.25em 0;
}

/* to add list filter functionality */
.filterDiv {
  display: none;
  padding: 10px 0px;
  border-bottom-color: #dee2e6;
  border-bottom-width: thin;
  border-bottom-style: solid;
}

.show {
  display: flex;
}
